.card{
    display: flex;
    // justify-content: center;
    margin: 20px;
    padding: 20px 0;
    align-items: center;
    // align-content: space-around;
    flex-direction: column;
    width: 250px;
    height: 270px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;

    h2{
        margin-top: 10px;
        text-transform: uppercase;
    }

    .img-conteiner{
        // border-radius: 50%;
        width: 80%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 7px;
        background: rgba(238, 238, 238, 0.3);
        overflow: hidden;

        img{
            object-position: center;
            height: 100%;
            object-fit: cover;
        }
    }

    .id-pokemon{
        margin: 0 auto;
        margin-top: 5px;
        padding-left: 10px;
        display: block;
        // color: #919191;
        color:#eee;
        font-weight: bold;
        align-self: flex-start;
        width: 80%;
        // flex-flow: ;
    }

    a{
        text-decoration: none;
        color: white;

        &:hover{
            text-decoration: underline;
        }
    }
}

.conteiner-types{
    margin-top: 25px;
    width: 60%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.span-type{
    display: inline-block;
    text-align: center;
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 12px;
}

.electric{
    background: #eed535;
    color: black;
}

.normal{
    background: #a4acaf;
    color: black;
}

.fire{
    background: #fd7d24;
    color: white;
}

.water{
    background: #4592c4;
    color: white;
}

.ice{
    background: #51c4e7;
    color: black;
}

.rock{
    background: #a38c21;
    color: white;
}

.flying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    color: black;
}

.grass{
    background: #9bcc50;
    color: black;
}

.psychic{
    background: #f366b9;
    color: white;
}

.ghost{
    background: #7b62a3;
    color: white;
}

.bug{
    background: #729f3f;
    color: white;
}

.poison{
    background: #b97fc9;
    color: white;
}

.ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    color: black;
}

.dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: white;
}

.steel{
    background: #9eb7b8;
    color: black;
}

.fighting{
    background: #d56723;
    color: white;
}

.dark{
    background: #707070;
    color: white;
}

.fairy{
    background: #fdb9e9;
    color: black;   
}



@media (max-width: 773px){
    .card{
        width: 350px;
        height: 330px;
        background: rgba(255, 255, 255, 0.5);
        h2{
            color: black;
        }
    

        .img-conteiner{
            height: 180px;

            img{
                // margin: auto;
                object-position: center;
                height: 100%;
                // width: 100%;
                object-fit: cover;
                // width: 90%;
                // height: 90%;
            }
        }
    }
}