.new{
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 100%;
    
    &--form{
        background: white;
        padding: 30px 0;
        // margin: auto;
        width: 400px;
        // background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-label{
            // width: 75%;
            margin-bottom: 10px;
        }
        
        &-input{
            padding: 5px 0;
            font-weight: bold;
            font-size: 1.1em;
            width: 60%;
            text-align: center;
            margin-bottom: 20px;
        }

        textarea{
            text-align: left;
            padding: 5px 5px;
        }

        &-submit{
            color: white;
            font-weight: bold;
            font-size: 1.2em;
            border: none;
            background: #e24745;
            padding: 15px 0px;
            width: 60%;

            &:hover{
                background: #af3735;
                transition: 0.7s ease;
                cursor: pointer;
            }
        }
    }


    .conteiner-card{
        width: 250px;
    }
}


@media (max-width: 772px){
    .new{
        flex-direction: column;

        &--form{
            width: 100%;
            &-label{
                // width: 75%;
            }
            
            &-input{
            }
    
            &-submit{
    
                &:hover{
                }
            }
        }
    
    
        .new-preview{
        }
    
        .preview-title{
        }
    }
}


@media (max-width: 520px){
    .new{

        &--form{

    
            &-label{
                // width: 75%;
            }
            
            &-input{

            }
    
            &-submit{
                font-size: 1em;

                &:hover{

                }
            }
        }
    
    
        .new-preview{
        }
    
        .preview-title{
        }

        .container-card{
            width: 305px;
            display: flex;
            justify-content: center;

        }
    }
}